<body id='feed-hbs'>
	
			
					<div class="hamburger" title="Open Navigation"></div>
					<div class="title">
					<h1 id='puppy-gram-title'>Wanderlyst</h1>
				
				</div>
				<nav class='nav-dropdown'>

						
					<li><a href="/{{userid}}">Profile</a></li> {{!-- //need to update to send to user profile --}}
					<li><a href='/logout'>Logout</a></li> 

					
				</nav>

			
	
		
		
		




<div id='feed-container'>
	{{#each post}}
		

		<a href="/{{userid}}">

		
	{{!-- 	<img src='{{posts.link}}'></a></li> --}}
		{{!-- <div id='feed-images'> --}}
		
		{{!-- 	{{#each post}} --}}
				<div class="feedPost_wrapper">
					
						<div class="feedPost_img">
							<img src="{{userimg}}"> 
						</div>
						
						<div class="feedPost_name"> 
							{{username}}
							
							</div>
				</div>
					<img class="feed_post" src='{{link}}' width="200" height="200" />

						<div class="feedPost_wrapper_description">
					
						
						
						<div class="feedPost_name"> 
							<p>{{description}}  </p>
							
							</div>
				</div>
			{{!-- {{/each}} --}}
		{{!-- </div> --}}
		

	{{/each}}

</div>
</body>


	
