<div class='feed-hbs'>
	<div class="feed_header">	
		<h2>Wanderlyst</h2>
	</div>	
	
	<div id='feed-container'>
		<ul>
			{{#each post}}
				<li>
					<div class="feedPost_wrapper">
						<div class="feedPost_img">
							<img class="poster_pic" src="{{userimg}}">
						</div>
						<div class="feedPost_name"> 
							<a href="/{{userid}}">{{username}}</a>		
						</div>
					</div>
					<div class="feed_pic">
						<img class="feed_post" src='{{link}}' width="200" height="200" />
					</div>
					<div class="feedPost_wrapper_description">
						<div class="feedPost_name"> 
							<p>{{description}}  </p>
						</div>
					</div>
				</li>
			{{/each}} 
		</ul>
	</div>
	<div class="feed_footer">
		<div class="footer_feed">
			<a href="/feed"><i class="material-icons">home</i></a>
		</div>
		<div class="footer_search">
				<a href="/search"><i class="material-icons">search</i></a>
		</div>
		<div class="footer_profile">
			<a href="/{{userid}}"><i class="material-icons">person</i></a>
		</div>
	</div>
</div>


	
