<div id='profile-hbs'>
<br>
<div id='post-me'>
<div class="post_wrapper">
					<img class="image_post" src="{{post.link}}" width="300" height="300">
				</div>
				
				<button class="like">Like</button>
				<span class="like_num2">{{post.likes}} Likes</span>
				<input class = "postId" value="{{post._id}}" type="hidden" />

				{{!-- pull description from post collection --}}
				<div class="descriptionBox">{{post.description}}</div>

					{{post.createdAt}}
			
				{{!-- use static form to send patch request --}}
				
				
				
					<a href="/comment/{{post._id}}">Comment</a>
		</div>		
</div>