<h1>Profile!</h1>
<ul>
	
		<li>{{user.name}}</li>

		<form id="imgur">
  			<input type="file" class="imgur" accept="image/*" data-max-size="5000"/>
  			<input id = "userId" value="{{user._id}}" type="" />
		</form>
		<ul>
		{{#each user.posts}}
			<li>
				<img src="{{this.link}}" width="200" height="200">
				{{!-- pull description from post collection --}}
				<div class="descriptionBox">{{this.description}}</div>
				<input id = "postId" value="{{this._id}}" type="" />
				{{!-- use static form to send patch request --}}
				<form class="description">
					<input id = "description" type="text" />
				</form>
				<button class="descriptionEdit_toggle">edit</button>
				<button class="descriptionAdd_toggle">Add</button>

			</li>
		{{/each}}
		</ul>
</ul>