
<h1>{{user.name}}</h1>
<div id='button-container'>
<button class='profile-button'>Add</button>
<button class='profile-button'>Unfriend</button>
</div>
<div id='user-info'>
		<p>Lives in {{user.location}}</p>
		<p>{{user.bio}}</p>
		<br>
		<h3>{{user.name}}'s Images</h3>
</div>


<form id="imgur">
  			upload an image: <input type="file" class="imgur" accept="image/*" data-max-size="5000"/>
  			<input id = "userId" value="{{user._id}}" type="" />
		</form>
		<ul id='user-images'>
		{{#each user.posts}}
			<li>
				<img src="{{this.link}}" width="200" height="200">
				{{!-- pull description from post collection --}}
				<div class="descriptionBox">{{this.description}}</div>
				<input id = "postId" value="{{this._id}}" type="" />
				{{!-- use static form to send patch request --}}
				<form class="description">
					<input id = "description" type="text" />
				</form>
				<button class="descriptionEdit_toggle">Edit</button>
				<button class="descriptionAdd_toggle">Add</button>

			</li>
		{{/each}}
		</ul>


