
<h1>{{user.name}}</h1>
<div id='button-container'>
<button class='profile-button'>Add</button>
<button class='profile-button'>Unfriend</button>
</div>


<div id='user-info'>

		<p>{{user.image}}</p>
		<p>Lives in {{user.location}}</p>
		<p>{{user.bio}}</p>
		<br>
		<h3>{{user.name}}'s Images</h3>
</div>


		<form id="imgur">
  			{{user.name}}'s Images
  			<br>
  			<input type="file" class="imgur" accept="image/*" data-max-size="5000"/>

  			<input id = "userId" value="{{user._id}}" type="" />
		</form>
		<ul id='user-images'>
		{{#each user.posts}}
			<li>
				<img src="{{this.link}}" width="200" height="200">
				<button class="like">Like</button>
				<span>{{this.likes}}</span>
				{{!-- pull description from post collection --}}
				<div class="descriptionBox">{{this.description}}</div>
				<input class = "postId" value="{{this._id}}" type="" />
				{{!-- use static form to send patch request --}}
				<form class="descr">
					<input class="description" type="text" />
				</form>
				<button class="descriptionEdit_toggle">Edit</button>
				<button class="descriptionAdd_toggle">Add</button>
				<a href="http://localhost:3000/comment/{{this._id}}">Comments</a>

			</li>
		{{/each}}
		</ul>


