
<h1>[Name]{{user.name}}</h1>


<div id='user-info'>

		<p>[Image]{{user.image}}</p>
		<p>[Location]{{user.location}}</p>
		<p>[Bio]{{user.bio}}</p>
		<br>
		{{!-- //add 2 buttons for 'adding' or 'removing' friends --}}

		<li>{{user.name}}</li>

		<form id="imgur">
  			<input type="file" class="imgur" accept="image/*" data-max-size="5000"/>
  			<input id = "userId" value="{{user._id}}" type="" />
		</form>
		<ul>
		{{#each user.posts}}
			<li>
				<img src="{{this.link}}" width="200" height="200">
				{{!-- pull description from post collection --}}
				<div class="descriptionBox">{{this.description}}</div>
				<input class = "postId" value="{{this._id}}" type="" />
				{{!-- use static form to send patch request --}}
				<form class="descr">
					<input class="description" type="text" />
				</form>
				<button class="descriptionEdit_toggle">edit</button>
				<button class="descriptionAdd_toggle">Add</button>
				
			</li>
		{{/each}}
		</ul>


<div id='button-container'>
<button class='profile-button'>Add</button>
<button class='profile-button'>Unfriend</button>
</div>
