<body id='profile-hbs'>
<h1>{{user.name}}</h1>
{{#if current}}
{{else}}
	<div id='button-container'>

			<button id="add" class='profile-button'>Add</button>
			<button id="remove" class='profile-button'>Unfriend</button>

	</div>
{{/if}}



<div id='user-info'>

		<p><img src="{{user.image}}" width="200" height="200"></p>	
		<form class='join_form'>
  			<br>
  			<a id='upload-text'>Upload Profile Picture: 
  			<input id='profileImage' type="file" class="imgur" accept="image/*" data-max-size="10000"/>
		</form>

		<p>Lives in {{user.location}}</p>
		<p>{{user.bio}}</p>
		<br>

	
		<a href="http://localhost:3000/{{user._id}}/friends">Friends</a>
		
</div>

		{{#if current}}
			<form id="imgur">



		<form id="imgur">
  			<h3>{{user.name}}'s Images<h3>

  			<br>
  			<input id="uploadPost" type="file" class="imgur" accept="image/*" data-max-size="5000"/>

  			<input id = "userId" value="{{user._id}}" type="hidden" />
		</form>
		{{else}}
	
		{{/if}}
		<ul id='user-images'>
		{{#each user.posts}}
			<li>
				<img src="{{this.link}}" width="200" height="200">
				<button class="like">Like</button>
				<span>{{this.likes}}</span>
				{{!-- pull description from post collection --}}
				<div class="descriptionBox">{{this.description}}</div>
				<input class = "postId" value="{{this._id}}" type="hidden" />
				{{!-- use static form to send patch request --}}
				
				{{#if ../current}}
					<form class="descr">
						<input class="description" type="text" />
					</form>
					<button class="descriptionEdit_toggle">Edit</button>
					<button class="descriptionAdd_toggle">Add</button>
					<a href="http://localhost:3000/comment/{{this._id}}">Comment</a>
				{{else}}
					<a href="http://localhost:3000/comment/{{this._id}}">Comment</a>
				{{/if}}
			</li>
		{{/each}}
		</ul>

</body>
