<div class='profile-hbs'>
	<div class="profile_header">
		<h3>{{user.name}}</h3>
		{{#if current}}
		<button class="profileEdit_toggle" data-toggle="modal" data-target="#lab-slide-bottom-popup">edit	</button>
		{{else}}
		{{/if}}

	</div>	

	<div id='user-info'>
		
		<div class="bio_main">
			<div class="bio_picture">
			<img class="profilePic" src="{{user.image}}" width="90" height="90">	
			</div>
			<div class="bio_right">
				<div class="bio_friends">
					<a href="/{{user._id}}/friends">Friends</a>
						{{#if current}}
					{{else}}
					{{!-- 	<div id='button-container'> --}}
							<input id = "userId" value="{{user._id}}" type="hidden" />
							<button id="add" class='profile-button'>Add</button>
							<button id="remove" class='profile-button'>Remove</button>
						{{!-- </div> --}}
					{{/if}}
				</div>
				<div class="bio_add_remove">

					<p><i class="material-icons">place</i> {{user.location}}</p>
	 			
				</div>
			</div>
		</div>
		<div class="bio_text">

			

				<p>{{user.bio}}</p>

		</div>
		<div class="bio_border"></div>
	</div>

	<div class="images_wrapper">

		{{#each user.posts}}
		<div class="image_pics">
			


				<a href="/post/{{this._id}}">

					
							<img class="image_post" src="{{this.link}}" width="30" height="30" >
					
						
	
					</a>



			
		</div>

		{{/each}} 
		
		
	
	</div>

		<!-- MODAL CONTENT SAMPLE STARTS HERE -->
<div class="modal fade" id="lab-slide-bottom-popup" data-keyboard="false" data-backdrop="false">
  <div class="lab-modal-body">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>    
    <div class="text-center">
    	<h1>Edit Profile</h1>
      	<br>
      	<form class="descr">
      		<input id='profileImage'type="file" class="imgur" accept="image/*" data-max-size="10000"/>
      		<br>
      		<input id="profileForm_name" class="edit_form"type="text"  placeholder="Name" />
      		<input id="profileForm_location" class="edit_form"type="text" placeholder="Location" />
			<input id="profileForm_bio" class="edit_form"type="text" placeholder="Bio" />	
		</form>

		<input id = "userId" value="{{user._id}}" type="hidden" />
		<button class="profileAdd_toggle">Add</button>
    </div>
  </div>
  <!-- /.modal-body -->
</div>
<!-- /.modal -->
<!-- END MODAL CONTENT SAMPLE -->

	<div class="feed_footer">
		<div class="footer_feed">
			<a href="/feed"><i class="material-icons">home</i></a>
		</div>
		<div class="footer_search">
				<a href="/search"><i class="material-icons">search</i></a>
		</div>
		<div class="footer_upload">
			{{#if current}}
				<form id="imgur">
		  			<br>
		  			<input id="uploadPost" type="file" class="imgur" accept="image/*" data-max-size="5000"/>
		  			<button id="upload"><i class="material-icons">file_upload</i></button>
		  			<br>
		  			<br>
		  			<input id = "userId" value="{{user._id}}" type="hidden" />
				</form>
		{{else}}
		{{/if}}

		</div>
		<div class="footer_profile">
			<a href="/{{userid}}"><i class="material-icons">person</i></a>
		</div>
		<div class="footer_logout">
			<a href='/logout'><i class="material-icons">close</i></a>
		</div>
	</div>


			
</div>	


		{{!-- <div class="profile_wrapper">
			<div class="profile_image">
				<img id="profilePic" src="{{user.image}}" width="200" height="200">	
			</div>
			<div class="addfriend_container"> --}}
				{{!-- {{#if current}}
				{{else}}
		{{!-- 	<div id='button-container'>
				<input id = "userId" value="{{user._id}}" type="hidden" />
				<button id="add" class='profile-button'>Add</button>
				<button id="remove" class='profile-button'>Unfriend</button>
			</div> --}}
				{{!-- {{/if}} --}}
			{{!-- </div> --}}
				{{!-- {{#if current}} --}}
			{{!-- <div class="gear_background">
				<div class="profile_gear">
					<form class='profile_form'>
						<br> --}}
						  			{{!-- <a id='upload-text'>Upload Profile Picture: --}} 
		{{!-- 				<input id='profileImage' type="file" class="imgur" accept="image/*" data-max-size="10000"/>
					</form>
					<span id="gear">&#9881;</span> --}} 
				{{!-- 	{{else}}
					{{/if}} --}}
	{{!-- 			</div>
			</div>
			<div id='bio-wrapper'>
				<br>
				<p>Lives in {{user.location}}</p>

				<p>{{user.bio}}</p> --}}


	{{!-- 			<a href="/{{user._id}}/friends">Friends</a>

			</div>
				
		</div>	 --}}		
	

	
	
			
					
					{{!-- use static form to send patch request --}}
					
				{{!-- {{#if ../current}} 
						<div class="edit_wrapper">
							<form class="descr">
								<input class="description" type="text" />
							</form>
							<button class="descriptionEdit_toggle">Edit</button>
							<input class = "postId" value="{{this._id}}" type="hidden" />
							<button class="descriptionAdd_toggle">Add</button>

						</div>
					{{else}}
						
					{{/if}}
			

		 --}}




		{{!--  	<div class="user-images_wrapper">
		<ul id='user-images'>
			
			{{#each user.posts}}
				<li>
					<div class="postImage_wrapper">

						<a href="/post/{{this._id}}">

						<div class="post_wrapper">
							<img class="image_post" src="{{this.link}}" >
						</div> --}}
						
						{{!-- <button class="like">Like</button>
						<span class="like_num">{{this.likes}}</span>
	 --}}
		{{!-- 				</a>

					</div>
				</li>
			{{/each}} 
		</ul>
	</div>
		 --}}



{{!-- 		 {{#each user.posts}}
				<li>
					

						<a href="/post/{{this._id}}">

					
							<img class="image_post1" src="{{this.link}}" >
					
						
	
					</a>

					
				</li>
			{{/each}} 
 --}}
		

